div.nav_36style{padding:0px;overflow:hidden;}
.nav_36style p.level0, .nav_36style p.level0 a:link, .nav_36style p.level0 a:visited, .nav_36style p.level0 a:hover, .nav_36style p.level0 a:active{color:#bd3800;font-family:"Elementary SF",serif;font-size:9pt;text-decoration:none;}
.nav_36style p.level0{color:#bd3800;font-family:"Elementary SF",serif;font-size:9pt;text-decoration:none;margin:15px 0px;}
.nav_36style p.level0 a:hover, .nav_36style p.level0 a:active{color:#9e7741;}
.nav_36style hr.level0{border:none 0;border-top:1px none #feefc8;height:1px;width:30%;text-align:left;margin:2px auto 2px 0;}
.nav_36style p.level1, .nav_36style p.level1 a:link, .nav_36style p.level1 a:visited, .nav_36style p.level1 a:hover, .nav_36style p.level1 a:active{color:#bd3800;font-family:"Elementary SF",serif;font-size:9pt;text-decoration:none;}
.nav_36style p.level1{color:#bd3800;font-family:"Elementary SF",serif;font-size:9pt;text-decoration:underline;margin:2px 0px 2px 20px;}
.nav_36style p.level1 a:hover, .nav_36style p.level1 a:active{color:#9e7741;}
.nav_36style hr.level1{border:none 0;border-top:10px none #feefc8;height:10px;width:30%;text-align:left;margin:2px auto 2px 0;}
